<a href="https://colab.research.google.com/github/allan-gon/Daily-Warm-Ups/blob/master/unit-2/sprint1/u2s1m3_Ridge_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!--
Author: Brian Thomas Ross <admin@brianthomasross.com>
License: BSD-3-Clause
-->

# Concepts
----

### What is the purpose of performing a train-test split on your data when creating predictive models?

We want to check the proficiency of our model with data it hasn't seen

### In data where dates or times might be considered determining factors, what should one take care to do when performing the train test split

Do TTS Chronologically so your test must be on the later dates

### What is data leakage?

Sharing information between the test and training datasets

### What are some potential business use-cases for linear regression models

Estimated sales in a given block of time

## Watch
----

Watch the following short video which gives a brief overview of $\mathbb{R}^2$
<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q-TtIPF0fCU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

In [1]:
from IPython.display import HTML

HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/Q-TtIPF0fCU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

## Explore
----

Take some time to explore the dataset that we will be using during lecture.

In [2]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [3]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

# Do train/test split
# Use data from April & May 2016 to train
# Use data from June 2016 to test
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)
cutoff = pd.to_datetime('2016-06-01')
train = df[df.created < cutoff]
test  = df[df.created >= cutoff]

In [4]:
# Assert statements can be helpful to avoid simple errors
assert len(train) + len(test) == len(df)

In [5]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

## Road to Local Development
----

Take the remainder of the time until lecture to begin backing up the important things on your computer. Some popular choices for backing up to the cloud include:


- [OneDrive](https://www.microsoft.com/en-us/microsoft-365/onedrive/online-cloud-storage)
- [Google Drive](https://www.google.com/drive/)
- [DropBox](https://www.dropbox.com/basic)

I can nearly guarantee that at some point during your careers in this industry that you will find yourself resetting your machines, being forced to reinstall your operating systems, thanks to catastrophic environment failure. A good admin knows that if something on your computer is important to you, that you should have it backed up in 2 separate locations.