<!--
Author: Brian Thomas Ross
License: BSD-3-Clause
-->
<u>U2S1M2 WARM UP</u>
=====================

Welcome to Unit 2 Predictive modeling, partner up in your TL groups. When you've assembled in your zoom calls be sure to pull the changes to the `Daily-Warm-Ups` repo to your fork. Work together to complete the warm up assignment.

## <u>Define the following terms:</u>

---

### Supervised Learning

### Regression

### Classification

### Heuristic

### Descriptive Statistics

----

### What should you always begin with when constructing a predictive model?

### How should one interpret the coefficients in a linear regression model?

----

### Read [this article](https://towardsdatascience.com/scikit-learn-design-principles-d1371958059b) which gives a brief overview of the design principles employed in sklearn.

#### Share in slack something your group found interesting in the article

----

## <u>Code</u>

Use the rest of the time before lecture to explore and familiarize yourself with the following dataset using the techniques you learned during Unit 1

In [ ]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [ ]:
import pandas as pd
df = pd.read_csv(DATA_PATH+'elections/bread_peace_voting.csv')
df

    Year  ... Incumbent Party Vote Share
0   1952  ...                      44.60
1   1956  ...                      57.76
2   1960  ...                      49.91
3   1964  ...                      61.34
4   1968  ...                      49.60
5   1972  ...                      61.79
6   1976  ...                      48.95
7   1980  ...                      44.70
8   1984  ...                      59.17
9   1988  ...                      53.94
10  1992  ...                      46.55
11  1996  ...                      54.74
12  2000  ...                      50.27
13  2004  ...                      51.24
14  2008  ...                      46.32
15  2012  ...                      52.00
16  2016  ...                      48.20

[17 rows x 6 columns]

In [ ]:
# Your code here