This study guide should reinforce and provide practice for all of the concepts you have seen in the past week. There are a mix of written questions and coding exercises, both are equally important to prepare you for the sprint challenge as well as to be able to speak on these topics comfortably in interviews and on the job.

If you get stuck or are unsure of something remember the 20 minute rule. If that doesn't help, then research a solution with google and stackoverflow. Only once you have exausted these methods should you turn to your Team Lead - they won't be there on your SC or during an interview. That being said, don't hesitate to ask for help if you truly are stuck.

Have fun studying!

# Resources

[SKLearn Linear Regression Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)

[SKLearn Train Test Split Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

[SKLearn Logistic Regression Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)

[SKLearn Scoring Metrics](https://scikit-learn.org/stable/modules/model_evaluation.html)

In [ ]:
import pandas as pd

# Linear Regression

## Basics and Data Preparation

Define the following terms in your own words, do not simply copy and paste a definition found elsewhere but reword it to be understandable and memorable to you. *Double click the markdown to add your definitions.*
<br/><br/>

**Linear Regression:** `Your Answer Here`

**Polynomial Regression:** `Your Answer Here`

**Overfitting:** `Your Answer Here`

**Underfitting:** `Your Answer Here`

**Outlier:** `Your Answer Here`

**Categorical Encoding:** `Your Answer Here`

Use `auto_df` to complete the following.

In [ ]:
columns = ['symboling','norm_loss','make','fuel','aspiration','doors',
           'bod_style','drv_wheels','eng_loc','wheel_base','length','width',
           'height','curb_weight','engine','cylinders','engine_size',
           'fuel_system','bore','stroke','compression','hp','peak_rpm',
           'city_mpg','hgwy_mpg','price']
auto_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
auto_df = pd.read_csv(auto_url, names=columns, header=None)

auto_df.head()

   symboling norm_loss         make fuel  ... peak_rpm city_mpg hgwy_mpg  price
0          3         ?  alfa-romero  gas  ...     5000       21       27  13495
1          3         ?  alfa-romero  gas  ...     5000       21       27  16500
2          1         ?  alfa-romero  gas  ...     5000       19       26  16500
3          2       164         audi  gas  ...     5500       24       30  13950
4          2       164         audi  gas  ...     5500       18       22  17450

[5 rows x 26 columns]

Perform a train test split on `auto_df`, your target feature is `price`

It's always good to practice EDA, so explore the dataset with both explanatory statistics and visualizations.

Check for nulls and then write a function to fill in null values. As you can see with `norm_loss`, some of the nulls have a placeholder value of `?` that will need to be addressed.

How does train test split address underfitting/overfitting?

`Your Answer Here`

What are three synonyms for the Y Variable?
- `Your Answer Here`
- `Your Answer Here`
- `Your Answer Here`

What are three synonyms for the X Variable(s)?
- `Your Answer Here`
- `Your Answer Here`
- `Your Answer Here`

One hot encode a categorical feature

Define the 5 versions of **Baseline**:
1. `Your Answer Here`
2. `Your Answer Here`
3. `Your Answer Here`
4. `Your Answer Here`
5. `Your Answer Here`

What is the purpose of getting a baseline that tells you what you would get with a guess? (Mean or Majority Classifier Baseline)

`Your Answer Here`

Get the mean baseline for the target feature. If you log transformed the target feature, get the mean baseline of the log transformed target feature.

## Modeling

What is the 5 step process for using the Scikit-learn's estimator API?
1. `Your Answer Here`
2. `Your Answer Here`
3. `Your Answer Here`
4. `Your Answer Here`
5. `Your Answer Here`

Follow the 5 steps to make a prediction on your test set. The functions and changes you made to `X_train` may need to be applied to `X_test` if you have not done so already.

In [ ]:
# Step 1 - Use Linear Regression

In [ ]:
# Step 2

In [ ]:
# Step 3

In [ ]:
# Step 4

In [ ]:
# Step 5

## Scoring

Define the following terms in your own words, do not simply copy and paste a definition found elsewhere but reword it to be understandable and memorable to you. *Double click the markdown to add your definitions.*
<br/><br/>

**Mean Absolute Error (MAE):** `Your Answer Here`

**Mean Squared Error (MSE):** `Your Answer Here`

**Root Mean Squared Error (RMSE):** `Your Answer Here`

**Coefficient of Determination ($R^2$):** `Your Answer Here`

**Residual Error:** `Your Answer Here`

**Bias:** `Your Answer Here`

**Variance:** `Your Answer Here`

**Validation Curve:** `Your Answer Here`

**Ordinary Least Squares:** `Your Answer Here`

**Ridge Regression:** `Your Answer Here`

In a short paragraph, explain the Bias-Variance Tradeoff

```
Your Answer Here
```

Use each of the regression metrics (MAE, MSE, RMSE, and $R^2$) on both the mean baseline and your predictions.

In [ ]:
# MAE

In [ ]:
# MSE

In [ ]:
# RMSE

In [ ]:
# R^2

Print and plot the coefficients of your model.

In [ ]:
# Print the coefficients

In [ ]:
# Plot the coefficients

Interpret your results with a short paragraph. How well did your model perform? How do you read a single prediction? Did you beat the baseline? 

```
Your Answer Here
```

Use Ridge Regression and get the $R^2$ score

How does the ridge regression score compare to your linear regression and baseline scores?

```
Your Answer Here
```

# Logistic Regression

Define the following terms in your own words, do not simply copy and paste a definition found elsewhere but reword it to be understandable and memorable to you. *Double click the markdown to add your definitions.*
<br/><br/>

**Logistic Regression:** `Your Answer Here`

**Majority Classifier:** `Your Answer Here`

**Validation Set:** `Your Answer Here`

**Accuracy:** `Your Answer Here`

**Feature Selection:** `Your Answer Here`

Answer each of the following questions with no more than a short paragraph.
<br/><br/>

What is the difference between linear regression and logistic regression?
```
Your Answer Here
```

What is the purpose of having a validation set?
```
Your Answer Here
```

Can we use MAE, MSE, RMSE, and $R^2$ to score a Logistic Regression model? Why or why not? If not, how do we score Logistic Regression models?
```
Your Answer Here
```

Use the Titanic dataset below to predict whether passengers survived or not. Try to avoid looking at the work you did during the lecture.

Make sure to do the following but feel free to do more:
- Train/Test/Validation Split
- Majority Classifier Baseline
- Include at least 2 features in X (Stretch, try K-Best)
- Use Logistic Regression
- Score your model's accuracy against the Majority Classifier Baseline
 - If you did not beat the baseline, tweak your model until it exceeds the baseline
- Score your model on the validation set

In [ ]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

train = pd.read_csv(DATA_PATH+'titanic/train.csv')
test = pd.read_csv(DATA_PATH+'titanic/test.csv')

In [ ]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]